/*
MENSAGENS
 */

.dropdown-menu .divider {
  margin: 0;
}

li {
  &.notification-item {
    overflow: auto;
    &:hover {
      background-color: #f7f7f7;
    }
  }
}
.dropdown-messages {
  padding: 0 !important;
}

.no-read {
  background-color: #f3f3f4;
}

.msg-header {
  text-align: center;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.ibox-mensagem {
  .img-profile {
    img {
      max-width: 64px;
      margin: 0 auto;
    }
  }

  .mensagem-corpo {

    .mensagem-titulo {
      border: thin solid #ddd;
      background-color: #fdfdfd;
      padding: 10px;
      margin: 30px 10px;
    }
    .mensagem-texto {
      border: thin solid #ddd;
      background-color: #fdfdfd;
      padding: 10px;
      margin: 30px 10px;
      min-height: 200px;
    }

  }
}
.inbox-row {
  p {
    color: #2f4050;
  }
  small {
    color: #b4b4b4;
  }
  border-bottom: thin solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  .inbox-avatar {
    padding: 0;
    img {
      margin: 0 auto;
      max-width: 60px;
    }
  }
  .inbox-nome {
    color: #333;
  }
  .inbox-assunto {
    color: #008000;
  }
  &:hover {
    background-color: #f7f7f7;
  }
}

@media (min-width: 768px) {
  .msg-header {
    text-align: left;
  }
}